
   <div class="row">
     <div class="col-md-6 mx-auto">
         
      <div class="card">
       
        <div class="card-body">
          <h4 class="card-title"><i class="fa fa-user"> Register</i></h4>
          <div class="card-text">
            
            <div class="form-group">
              <label for="email">Email</label>
              <input placeholder="Your email"  [(ngModel)]="email" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input placeholder="Your password"  [(ngModel)]="password" type="password" class="form-control">
            </div>

            <button class="btn btn-success btn-block" (click)="register()">
              <i class="fa fa-user"> Regiter</i>
            </button>

          </div>
        </div>
      </div>

     </div>
   </div>